# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
*.userprefs
.vscode/

# Ignore config files generated for local dev
.vs/

# Mac specific
.DS_Store

# Build folders
Build/

# Compiled Python scripts
__pycache__/
*.pyc
